.bgThem {
  background: $color-theme !important;
  color: #ffffff !important;
}
.borderThem {
  color: $color-theme !important;
}
section  {
  width: 100%;
  position: relative;
  font-size: 0.14rem;
  color: #4A4A4A;
  >>>.el-alert--info {
    background: #e6f8f7 !important;
  }
  >>>.icon-tongzhi--:before {
    top: 1px;
    left: 6px;
    color: $color-theme;
  }
  >>>.el-tabs__content {
    overflow: inherit;
  }
  >>>.el-alert__title.is-bold {
    font-weight: 400;
    color: #666666;
  }
  .content_box {
    position: relative;
    margin-bottom: 0;
    background: #ffffff;
  }
  .editor-btn {
    position: absolute;
    top: 0;
    right: 0;
    @include flex();
    justify-content: flex-end;
    z-index: 110;
    .el-button  {
      padding: 0 !important;
      width: 82px;
      height: 40px;
      border-radius: 4px;
    }
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #9B9B9B;
    font-size: 0.2rem;
    margin-bottom: 0.14rem;
    height: 0.4rem;
    .editor-btn {
      text-align: right;
      @include flex();
      justify-content: flex-end;
      .el-button  {
        border: none !important;
        padding: 0 !important;
      }
    }
  }
  .prompt {
    height: 32px;
    line-height: 32px;
    background-color: #FFAA00;
  }
  >>>.el-tabs__header {
    height: 0.6rem;
    line-height: 0.6rem;
  }
  >>>.el-tabs__content {
    padding-bottom: 0.3rem;
    background-color: #ffffff;
  }
  .text-introduction {
    margin-top: 0.49rem;
    .introduction-content {
      width: 100%;
      margin-top: 0.2rem;
      min-height: 2.4rem;
      padding-bottom: 0.2rem;
      padding-left: 0.21rem;
      >>>p {
        line-height: 28px;
      }
      >>>img  {
        margin-top: 0.2rem;
        height: auto;
      }
    }
    h3 {
      padding-left: 0.21rem;
      width: 100%;
      height: 0.4rem;
      line-height: 0.4rem;
      background: #F9FAF9;
      font-size: 14px;
      font-weight: 400;
      color: #999999;
    }
    p {
      width: 100%;
      margin-top: 0.2rem;
      font-size: 14px;
      font-weight: 400;
      color: rgba(74, 74, 74, 1);
      line-height: 20px;
    }
    img  {
      margin: 0.14rem 0 0.11rem 0;
    }
  }
  .introduction {
    width: 720px;
    margin: 38px auto;
  }
  >>>.el-tabs__header {
    height: 0.6rem;
    line-height: 0.6rem;
    font-size: 14px;
    color: #666666;
    margin: 0 !important;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 0 20px;
  }
  .column_box {
    position: relative;
    margin: 0.3rem auto;
    padding: 0 0.2rem;
    font-size: 14px;
    .header {
      box-sizing: border-box;
      padding-left: 21px;
      width: 100%;
      font-size: 14px;
      height: 40px;
      line-height: 30px;
      color: #999999;
      margin-bottom: 20px;
      background-color: #F9FAF9;
    }
    .img_box {
      display: flex;
      padding: 0 20px;
      img {
        width: 288px;
        height: 180px;
      }
      .right_box {
        width: calc(100% - 240px);
        padding-left: 20px;
        box-sizing: border-box;
        .title {
          align-items: flex-end;
          font-weight: 600;
          color: #4A4A4A;
          display: flex;
          flex-flow: row nowrap;
          color: #4A4A4A;
          height: 42px;
          line-height: 42px;
          span:nth-child(1) {
            font-size: 30px;
          }
          >span:nth-child(2) {
            font-weight: 400;
            background-color: $color-theme;
            color: #fff;
            font-size: 12px;
            width: 0.45rem;
            border-radius: 2px;
            text-align: center;
            margin-bottom: 3px;
            width: 0.45rem;
            height: 0.2rem;
            line-height: 0.2rem;
          }
        }
        .new_box {
          .new {
            font-size: 14px;
            height: 22px;
            font-weight: 400;
            color: $color-theme;
            margin: 8px 0 11px 0;
            line-height: 22px;
          }
          .autor {
            height: 20px;
            font-size: 0.14rem;
            font-weight: 400;
            color: rgba(155, 155, 155, 1);
            line-height: 20px;
            span  {
              color: #666666;
            }
          }
          .price {
            height: 20px;
            font-size: 0.14rem;
            font-weight: 400;
            margin-left: 0.2rem;
            color: rgba(155, 155, 155, 1);
            line-height: 20px;
            span  {
              color: #666666;
            }
          }
        }
        .line {
          height: 1px;
          background-color: #E6E6E6;
          width: calc(100% - 54px);
          margin-top: 11px;
        }
        .see {
          margin-top: 17px;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          height: 32px;
          .update-time {
            height: 17px;
            line-height: 17px;
            span:nth-child(2) {
              color: #666666;
            }
          }
          button  {
            width: 100px;
            height: 32px;
            background: $color-theme;
            border-radius: 4px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(255, 255, 255, 1);
            line-height: 18px;
          }
          span  {
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            height: 17px;
            font-size: 12px;
            font-weight: 400;
            color: rgba(155, 155, 155, 1);
            line-height: 17px;
          }
          .percent {
            span  {
              margin-left: 0.1rem;
            }
          }
        }
      }
    }
    .progress {
      width: 100%;
      span  {
        height: 17px;
        font-size: 12px;
        font-weight: 400;
        color: rgba(155, 155, 155, 1);
        line-height: 17px;
      }
      .percent {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
      }
      .el-progress {
        display: flex;
        align-items: center;
        margin-left: 0;
        width: 5rem;
      }
    }
  }
  .colInfoList, .fkc_box_two {

    padding: 0 0.2rem;
    margin: 0.2rem auto 0;
    .audio_style {
      margin: 0.2rem 0 0 0.2rem;
    }
    .audio_info, .base_info, .col_intro {
      h3 {
        color: #999999;
        background: #F9FAF9;
        font-size: 0.14rem;
        height: 0.4rem;
        line-height: 0.4rem;
        padding-left: 0.22rem;
      }
    }
    .base_info {
      min-width: 5rem;
      .info {
        margin-top: 0.2rem;
        font-size: 0.14rem;
        display: flex;
        justify-content: flex-start;
        img {
          width: 2.4rem;
          height: 1.5rem;
        }
        .box_info {
          margin-left: 0.2rem;
          font-size: 0.14rem;
          width: calc(100% - 2.6rem);
          .info_title {
            height: 0.22rem;
            line-height: 0.22rem;
            margin-bottom: 0.2rem;
            .title {
              color: #4A4A4A;
              font-weight: bold;
              font-size: 0.16rem;
              height: 0.22rem;
              line-height: 0.22rem;
              margin: 0 !important;
            }
            .sjzt {
              font-size: 0.12rem;
              color: #FFFFFF;
              height: 0.18rem;
              line-height: 0.18rem;
              background: $color-theme;
              margin-left: 0.1rem;
              position: relative;
              bottom: 0.01rem;
              padding: 0.005rem 0.045rem;
            }
            .wsj {
              background: #E6E6E6;
              color: #9B9B9B;
            }
          }
          .up_time {
            height: 0.2rem;
            line-height: 0.2rem;
            color: $color-theme;
            margin-bottom: 0.05rem;
            font-size: 0.14rem;
          }
          .price_num {
            height: 0.3rem;
            border-bottom: 1px solid #E6E6E6;
            span {
              color: #9B9B9B;
            }
            .cl {
              color: #666666;
            }
            .fh {
              width: 0.01rem;
              height: 0.1rem;
              background: #9B9B9B;
              line-height: 0.1rem;
              margin: 0 0.05rem;
            }
          }
          .btn_check {
            background: $color-theme;
            width: 1rem;
            color: #FFFFFF;
            font-size: 0.12rem;
            height: 0.32rem;
            line-height: 0.32rem;
            border-radius: 0.04rem;
            cursor: pointer;
          }
          .zt {
            color: #9B9B9B;
            font-size: 0.12rem;
            margin-left: 0.15rem;
          }
        }
      }
      .progress {
        width: 100%;
        margin-top: 0.24rem;
        h4 {
          color: #9B9B9B;
          font-size: 0.12rem;
          margin-bottom: 0.1rem;
        }
        .progboxss {
          height: 0.2rem;
          display: flex;
          justify-content: space-between;
          width: 100%;
          line-height: 0.2rem;
          span {
            height: 0.2rem;
            line-height: 0.2rem;
            color: #9B9B9B;
            font-size: 0.14rem;
          }
          .progbox {
            margin: 0;
            width: 83.5%;
          }
          >>> .el-progress-bar__outer {
            height: 0.1rem !important;
          }
          >>> .el-progress-bar__innerText {
            font-size: 0.06rem !important;
            position: relative;
            bottom: 0.03rem;
          }
        }
      }
    }
    .col_intro {
      margin-top: 0.4rem;
      color: #4A4A4A;
      font-size: 0.14rem;
      >>>.introduction-content {
        padding-left: 0.2rem;
        p {
          line-height: 0.28rem;
        }
        img  {
          margin-top: 0.2rem;
        }
      }
      .introductContent {
        width: calc(100% - 71px);
        padding-left: 0.2rem;
        >>>img {
          height: auto;
          line-height: 0.28rem;
          margin: 0.23rem 0 0.31rem 0;
        }
        >>>p {
          line-height: 0.28rem;
        }
      }
      h3 {
        margin-bottom: 0.2rem;
      }
    }
  }
}
